{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> IMG-ADD </title>
</head>

<body>
    <div>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Name : <input type="text" name="name" placeholder="Name">
                USER IMG : <input type="file" name="img">
                USER VIDEO : <input type="file" name="video">
                <input type="submit" value="Click Me">
            </form>
        </div>
        <div>
            {% for list in data %}
            <ul>
                <li>
                    USER name : {{ list.name }}
                </li>
                 <li>
                         <img src="{{ list.img.url }}">
                 
                 </li>
                 <li>
                    <video width='400' controls>
                        <source src='{{ list.video.url }}' type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                    </li>
            </ul>
            {% endfor %}
        </div>
        <!-- User Video upload -->
         <!-- <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>USER VIDEO : <input type="file" name="video">
                <input type="submit" value="Click Me">
            </form>
            {% for list in data %}
            <video width='400' controls>
                <source src='{{ list.video.url }}' type='video/mp4'>
                Your browser does not support the video tag.
            </video>
            {% endfor %}
        </div>  -->
        <!-- User Video upload -->
    </div>


</body>

</html>